/**
 * Gregory Pellegrin
 * pellegrin.gregory.work@gmail.com
 */

body
{
	background-color: rgb(20, 20, 20);
}

section
{
	background-color: rgb(20, 20, 20);
}

.th
{
	background-color: rgb(20, 20, 20);
}

.thSpan
{
	background-color: rgb(0, 0, 0);
	
	color: rgb(255, 255, 255);
}

.td
{
	background-color: rgb(20, 20, 20);
	
	color: rgb(255, 255, 255);
}

.tdSpan
{
	background-color: rgb(0, 0, 0);
}

section#indiceUSSection article
{
	border-left-color: rgb(95, 0, 0);
}

section#indiceEUSection article
{
	border-left-color: rgb(175, 0, 0);
}

section#indiceAsiaSection article
{
	border-left-color: rgb(255, 0, 0);
}

section#indiceOtherSection article
{
	border-left-color: rgb(0, 95, 0);
}

section#etfSection article
{
	border-left-color: rgb(0, 175, 0);
}

section#stockSection article
{
	border-left-color: rgb(0, 0, 0);
}