/**
 * Gregory Pellegrin
 * pellegrin.gregory.work@gmail.com
 */

body
{
	background-color: rgb(20, 20, 20);
}

section
{
	background-color: rgb(20, 20, 20);
}

.google-visualization-table-table
{
	background-color: rgb(20, 20, 20);
}

.indiceTh, .etfTh
{
	background-color: rgb(20, 20, 20);
}

.indiceThSpan, .etfThSpan
{
	background-color: rgb(0, 0, 0);
	
	color: rgb(255, 255, 255);
}

.indiceTd, .etfTd
{
	background-color: rgb(20, 20, 20);
	
	color: rgb(255, 255, 255);
}

.indiceTdSpan, .etfTdSpan
{
	background-color: rgb(0, 0, 0);
}

.dataTableTh
{
	background-color: rgb(0, 0, 0);
}

.dataTableThSpan
{
	color: rgb(255, 255, 255);
	
	border-bottom-color: rgb(255, 255, 255);
}

.dataTableTdEven
{
	background-color: rgb(0, 0, 0);
	
	color: rgb(255, 255, 255);
}

.dataTableTdOdd
{
	background-color: rgb(15, 15, 15);
	
	color: rgb(255, 255, 255);
}

.dataTableTdHover
{
	background-color: rgb(35, 35, 35);
}

.dataTableTdSelected
{
	background-color: rgb(45, 45, 45);
}

footer a
{
	background-color: rgb(0, 0, 0);
	
	color: rgb(255, 255, 255);
}