/**
 * Gregory Pellegrin
 * pellegrin.gregory.work@gmail.com
 */

body, h1, p, a, img, table, tr, th, td, input, ul, li
{
	list-style-type: none;
	
	font-size: 1.0em;
	text-align: center;
	text-decoration: none;
	
	margin: 10px;
	border: 0px;
	padding: 0px;
}

section
{
	width: 99%;
	
	margin: auto;
	margin-top: 10px;
}

section article
{
	margin: auto;
	border-right: 5px solid;
	border-left: 5px solid;
}

section article table
{
	width: 100%;
	
	margin: auto;
}

.thSpan
{
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding-top: 10px;
	padding-bottom: 8px;
}

.tdSpan
{
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-top: 8px;
	padding-bottom: 10px;
}