/**
 * Gregory Pellegrin
 * pellegrin.gregory.work@gmail.com
 */

body, h1, p, a, img, table, tr, th, td, input, ul, li
{
	list-style-type: none;
	
	font-size: 1.0em;
	text-align: center;
	text-decoration: none;
	
	margin: 0px;
	border: 0px;
	padding: 0px;
}

section
{
	width: 99%;
	
	margin: auto;
	margin-top: 10px;
}

section article, section article table
{
	width: 100%;
	
	margin: auto;
}

section#indiceSection article table, section#etfSection article table
{
	border-collapse: separate;
	border-spacing: 6px 0px;
}

.indiceThSpan
{
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding-top: 10px;
	padding-bottom: 8px;
}

.indiceTdSpan
{
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-top: 8px;
	padding-bottom: 10px;
}

.dataTableThSpan
{
	font-size: 1.1em;
	font-weight: bold;
	text-align: right;
	
	border-bottom: 1px solid;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dataTableThSpan:first-child
{
	text-align: left;
}

.dataTableTdSpan
{
	font-size: 1.0em;
	font-weight: bold;
	text-align: right;
	
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dataTableTdSpan:first-child
{
	text-align: left;
}

.google-visualization-table-div-page
{
	margin: 0px;
}

.page-number.gradient
{
	vertical-align: middle;
	
	margin-right: 2px;
	margin-left: 2px;
	padding-top: 7px;
	padding-bottom: 7px;
}