/**
 * Gregory Pellegrin
 * pellegrin.gregory.work@gmail.com
 */

body
{
	background-color: rgb(231, 231, 231);
}

section
{
	background-color: rgb(231, 231, 231);
}

.google-visualization-table-table
{
	background-color: rgb(231, 231, 231);
}

.th
{
	background-color: rgb(231, 231, 231);
}

.thSpan
{
	background-color: rgb(255, 255, 255);
	
	color: rgb(0, 0, 0);
}

.td
{
	background-color: rgb(231, 231, 231);
	
	color: rgb(0, 0, 0);
}

.tdSpan
{
	background-color: rgb(255, 255, 255);
}

section#indiceUSSection article
{
	border-right-color: rgb(0, 0, 153);
	border-left-color: rgb(0, 0, 153);
}

section#indiceEUSection article
{
	border-right-color: rgb(0, 0, 153);
	border-left-color: rgb(0, 0, 153);
}

section#indiceAsiaSection article
{
	border-right-color: rgb(0, 0, 153);
	border-left-color: rgb(0, 0, 153);
}

section#indiceOtherSection article
{
	border-right-color: rgb(204, 0, 0);
	border-left-color: rgb(204, 0, 0);
}

section#etfSection article
{
	border-right-color: rgb(204, 0, 0);
	border-left-color: rgb(204, 0, 0);
}

section#currencySection article
{
	border-right-color: rgb(0, 153, 0);
	border-left-color: rgb(0, 153, 0);
}

section#stockSection article
{
	border-right-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
}