/**
 * Gregory Pellegrin
 * pellegrin.gregory.work@gmail.com
 */

body
{
	background-color: rgb(231, 231, 231);
}

section
{
	background-color: rgb(231, 231, 231);
}

.google-visualization-table-table
{
	background-color: rgb(231, 231, 231);
}

.indiceTh, .etfTh
{
	background-color: rgb(231, 231, 231);
}

.indiceThSpan, .etfThSpan
{
	background-color: rgb(255, 255, 255);
	
	color: rgb(0, 0, 0);
}

.indiceTd, .etfTd
{
	background-color: rgb(231, 231, 231);
	
	color: rgb(0, 0, 0);
}

.indiceTdSpan, .etfTdSpan
{
	background-color: rgb(255, 255, 255);
}

.dataTableTh
{
	background-color: rgb(255, 255, 255);
}

.dataTableThSpan
{
	color: rgb(0, 0, 0);
	
	border-bottom-color: rgb(0, 0, 0);
}

.dataTableTdEven
{
	background-color: rgb(255, 255, 255);
	
	color: rgb(0, 0, 0);
}

.dataTableTdOdd
{
	background-color: rgb(240, 240, 240);
	
	color: rgb(0, 0, 0);
}

.dataTableTdHover
{
	background-color: rgb(220, 220, 220);
}

.dataTableTdSelected
{
	background-color: rgb(210, 210, 210);
}

footer a
{
	background-color: rgb(255, 255, 255);
	
	color: rgb(0, 0, 0);
}